apiVersion: storage.k8s.io/v1
kind: CSIDriver
metadata:
  name: csi.roset.dev
spec:
  attachRequired: false
  podInfoOnMount: true
  volumeLifecycleModes:
    - Persistent
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: roset
provisioner: csi.roset.dev
reclaimPolicy: Retain
volumeBindingMode: Immediate
allowVolumeExpansion: true
